/* Bootstrap Original */
@import "./node_modules/bootstrap/scss/bootstrap.scss";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

/* Modificaciones */

.col-3{
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) 1px;
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity));
}
